<section id="characters">
  <div class="container characters-container">
    <h2 class="characters-title">Characters</h2>
    <div class="characters-cards-container">
      <div class="characters-card">
        <picture>
          <source
            srcset="
              /img/characters/mary-desk.webp    1x,
              /img/characters/mary-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />

          <source
            srcset="
              /img/characters/mery-mob.webp    1x,
              /img/characters/mery-mob@2x.webp 2x
            "
            media="(max-width: 1199px)"
            type="image/webp"
          />

          <img
            src="/img/characters/mery-mob.webp"
            alt="Mary’s Life screenshot"
            loading="lazy"
            decoding="async"
            class="hero-img"
          />
        </picture>
        <h2 class="characters-name">Mary</h2>
        <p class="characters-text">
          A resilient, passionate designer finding her new path.
        </p>
      </div>
      <div class="characters-card">
        <picture>
          <source
            srcset="
              /img/characters/grandma-desk.webp    1x,
              /img/characters/grandma-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />

          <source
            srcset="
              /img/characters/grandma-mob.webp    1x,
              /img/characters/grandma-mob@2x.webp 2x
            "
            media="(max-width: 1199px)"
            type="image/webp"
          />

          <img
            src="/img/characters/grandma-mob.webp"
            alt="Grandma Elise"
            loading="lazy"
            decoding="async"
            class="hero-img"
          />
        </picture>
        <h2 class="characters-name">Grandma Elise</h2>
        <p class="characters-text">
          A former architect with a sharp tongue and a soft heart.
        </p>
      </div>
      <div class="characters-card">
        <picture>
          <source
            srcset="
              /img/characters/leo-desk.webp    1x,
              /img/characters/leo-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />

          <source
            srcset="
              /img/characters/leo-mob.webp    1x,
              /img/characters/leo-mob@2x.webp 2x
            "
            media="(max-width: 1199px)"
            type="image/webp"
          />

          <img
            src="/img/characters/leo-mob.webp"
            alt="Leo"
            loading="lazy"
            decoding="async"
            class="hero-img"
          />
        </picture>
        <h2 class="characters-name">Leo</h2>
        <p class="characters-text">
          Mary’s high school friend turned carpenter, always showing up at the
          right (or wrong) time.
        </p>
      </div>
      <div class="characters-card">
        <picture>
          <source
            srcset="
              /img/characters/cat-desk.webp    1x,
              /img/characters/cat-desk@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />

          <source
            srcset="
              /img/characters/cat-mob.webp    1x,
              /img/characters/cat-mob@2x.webp 2x
            "
            media="(max-width: 1199px)"
            type="image/webp"
          />

          <img
            src="/img/characters/cat-mob.webp"
            alt="cat"
            loading="lazy"
            decoding="async"
            class="hero-img"
          />
        </picture>
        <h2 class="characters-name">Mochi the Cat</h2>
        <p class="characters-text">
          Fluffy chaos in feline form. Loves cardboard boxes and falling asleep
          on blueprints.
        </p>
      </div>
    </div>
  </div>
</section>
