<div id="contacts" class="container contacts-container">
  <h2 class="contacts-title">Contacts</h2>
  <ul class="contacts-list">
    <li class="contacts-list-item">
      Address:
      <span class="contacts-item">StudioX, 12 Baker Street, London, UK</span>
    </li>
    <li class="contacts-list-item">
      Email: <span class="contacts-item">info@designxuwu.pro</span>
    </li>
    <li class="contacts-list-item">
      Instagram: <span class="contacts-item">instagram.com/marysmakeover</span>
    </li>
    <li class="contacts-list-item">
      Pinterest: <span class="contacts-item">pinterest.com/marydesigns</span>
    </li>
  </ul>
  <img src="/img/contacts/image43.png" alt="cat" class="contacts-pazzl-one" />
  <img src="/img/contacts/image44.png" alt="pazl" class="contacts-pazzl-two" />
  <img
    src="/img/contacts/image45.png"
    alt="pazl"
    class="contacts-pazzl-three"
  />
  <img
    src="/img/contacts/image46.png"
    alt="pazl"
    class="contacts-pazzl-pazl-four"
  />
</div>
