<section id="download">
  <div class="container container-download">
    <h2 class="download-title">Download</h2>
    <p class="download-text-first">
      Design Your Story — Begin Mary’s Makeover!
    </p>
    <p class="download-text-second">
      Free to play. Optional décor packs and boosters available.
    </p>

    <a
      class="download-btn"
      href="https://play.google.com/store/apps/details?id=world.playme.match3&hl=en&gl=us"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Get it on Google Play"
    >
      <img
        src="/img/hero/logos_google-play-icon.png"
        alt=""
        class="download-icon"
        aria-hidden="true"
      />
      <span class="download-btn-text">Google Play</span>
    </a>
    <img src="../img/download/image-47.png" alt="pazl" class="download-img" />
  </div>
</section>
