<section id="Download">
  <div class="container download-container">
    <div class="downoload-title-text">
      <h1 class="download-title">Mary’s Life: A Makeover Story</h1>
      <p class="download-text">Rebuild Dreams. Redesign Life!</p>
    </div>

    <div class="download-picture">
      <picture>
        <!-- Десктоп -->
        <source
          srcset="
            ../img/download/any-desktop.webp    1x,
            ../img/download/any-desktop@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />

        <!-- Мобілка -->
        <source
          srcset="
            ../img/download/any-mob.webp    1x,
            ../img/download/any-mob@2x.webp 2x
          "
          media="(max-width: 1199px)"
          type="image/webp"
        />

        <!-- Fallback -->
        <img
          src="../img/download/any-mob.webp"
          alt="Mary’s Life screenshot"
          loading="lazy"
        />
      </picture>
    </div>
    <a
      href="https://play.google.com/store/apps/details?id=com.mary.makeover"
      target="_blank"
      rel="noopener noreferrer"
      class="download-link"
    >
      Start Decorating With Mary!
    </a>
  </div>
</section>
