<!-- <h3>FAQ</h3>
<div class="accordion-container">
    <div class="ac">
        <h2 class="ac-header">
            <button type="button" class="ac-trigger">Is the game focused on design?
                <svg class="accordion-icon" width="28" height="28">
                    <use href="/img/sprite.svg#icon-plus"></use>
                </svg>
            </button>
        </h2>
        <div class="ac-panel">
            <p class="ac-text">Yes — puzzles unlock decorative options, and your choices influence room outcomes.</p>
        </div>
    </div>

    <div class="ac">
        <h2 class="ac-header">
            <button type="button" class="ac-trigger">Can I personalize the design?<svg class="accordion-icon" width="28"
                    height="28">
                    <use href="/img/sprite.svg#icon-plus"></use>
                </svg></button>
        </h2>
        <div class="ac-panel">
            <p class="ac-text">Absolutely! Choose styles, furniture, palettes, and layout paths.</p>
        </div>
    </div>

    <div class="ac">
        <h2 class="ac-header">
            <button type="button" class="ac-trigger">Is it free to play?<svg class="accordion-icon" width="28"
                    height="28">
                    <use href="/img/sprite.svg#icon-plus"></use>
                </svg></button>
        </h2>
        <div class="ac-panel">
            <p class="ac-text">Yes, with optional in-app purchases for boosters and visual themes.</p>
        </div>
    </div>

    <div class="ac">
        <h2 class="ac-header">
            <button type="button" class="ac-trigger">Can I play offline?<svg class="accordion-icon" width="28"
                    height="28">
                    <use href="/img/sprite.svg#icon-plus"></use>
                </svg></button>
        </h2>
        <div class="ac-panel">
            <p class="ac-text">Yes, most features work offline once downloaded.</p>
        </div>
    </div>

    <div class="ac">
        <h2 class="ac-header">
            <button type="button" class="ac-trigger">Does the story have multiple endings?<svg class="accordion-icon"
                    width="28" height="28">
                    <use href="/img/sprite.svg#icon-plus"></use>
                </svg></button>
        </h2>
        <div class="ac-panel">
            <p class="ac-text">Yes. Your design and dialogue choices impact relationships and the final renovation
                reveal.</p>
        </div>
    </div>
</div> -->