<div id="faq" class="container accordion-container">
    <h3 class="faq-title">FAQ</h3>
    <div class="js-box first ">
        <div class="js-trigger active">Is the game focused on design?
        </div>
        <div class="js-content">
            <p class="js-text">Yes — puzzles unlock decorative options, and your choices influence room outcomes.
            </p>
        </div>
    </div>
    <div class="js-box second">
        <div class="js-trigger">Can I personalize the design?
        </div>
        <div class="js-content">
            <p class="js-text">Absolutely! Choose styles, furniture, palettes, and layout paths.</p>
        </div>
    </div>
    <div class="js-box third">
        <div class="js-trigger">Is it free to play?
        </div>
        <div class="js-content">
            <p class="js-text">Yes, with optional in-app purchases for boosters and visual themes.</p>
        </div>
    </div>
    <div class="js-box fourth">
        <div class="js-trigger">Can I play offline?
        </div>
        <div class="js-content">
            <p class="js-text">Yes, most features work offline once downloaded.</p>
        </div>
    </div>
    <div class="js-box fifth">
        <div class="js-trigger trigger-fifth">Does the story have multiple endings?
        </div>
        <div class="js-content">
            <p class="js-text">Yes. Your design and dialogue choices impact relationships and the final renovation
                reveal.</p>
        </div>
    </div>
</div>