<section id="hero">
  <div class="container hero-container">
    <div class="hero-desktop">
      <div class="hero-title-text">
        <h1 class="hero-title">Mary’s Life: A Makeover Story</h1>
        <p class="hero-text">Rebuild Dreams. Redesign Life!</p>
      </div>
      <div class="btn-link">
        <img
          src="/img/hero/logos_google-play-icon.png"
          alt="play"
          class="hero-download-icon"
        />
        <a
          href="https://play.google.com/store/apps/details?id=world.playme.match3&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
          class="download-link"
        >
          Start Decorating With Mary!
        </a>
      </div>
    </div>

    <div class="js-hero-picture">
      <picture>
        <source
          srcset="
            /img/hero/any-desktop.webp    1x,
            /img/hero/any-desktop@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />

        <source
          srcset="/img/hero/any-mob.webp 1x, /img/hero/any-mob@2x.webp 2x"
          media="(max-width: 1199px)"
          type="image/webp"
        />

        <img
          src="/img/hero/any-mob.webp"
          alt="Mary’s Life screenshot"
          loading="lazy"
          decoding="async"
          class="js-hero-img"
        />
      </picture>
    </div>
    <img src="/img/hero/image54.webp" alt="cat" class="hero-cat" />
    <img src="/img/hero/image45.png" alt="pazl" class="hero-pazl-one" />
    <img src="/img/hero/image48.png" alt="pazl" class="hero-pazl-two" />
    <img src="/img/hero/image49.png" alt="pazl" class="hero-pazl-three" />
  </div>
</section>
