<div class="modal-overlay" id="modal">
  <div class="modal">
    <ul class="list-item">
      <li>
        <a class="link-nav" href="#GameDescription">
          <svg class="" width="24" height="24">
            <use href="../img/sprite.svg#icon-file"></use>
          </svg>
          Game Description
        </a>
      </li>
      <li>
        <a class="link-nav" href="#KeyFeatures">
          <svg class="" width="24" height="24">
            <use href="../img/sprite.svg#icon-star"></use>
          </svg>
          Key Features</a
        >
      </li>
      <li><a class="link-nav" href="#Characters">Characters</a></li>
      <li><a class="link-nav" href="#Gallery">Gallery</a></li>
      <li><a class="link-nav" href="#FAQ">FAQ</a></li>
      <li><a class="link-nav" href="#Download">Download</a></li>
      <li><a class="link-nav" href="#Contacts">Contacts</a></li>
    </ul>
    <button class="close-btn" id="closeModal">Закрити</button>
  </div>
</div>
