<!-- Модальне мобільне меню -->
<div class="modal-menu">
  <div class="mm-overlay" id="mobileMenu" aria-hidden="true">
    <nav class="mm-panel" role="dialog" aria-label="Mobile menu">
      <!-- Кнопка закриття -->
      <button class="mm-close" id="mmClose" aria-label="Close menu">
        <svg width="24" height="24" aria-hidden="true">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <!-- Список навігації -->
      <ul class="mm-list">
        <li class="mm-item">
          <a class="mm-link" href="#GameDescription">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-file"></use>
            </svg>
            Game Description
          </a>
        </li>
        <li class="mm-item">
          <a class="mm-link mm-link-feaut" href="#KeyFeatures">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
            Key Features
          </a>
        </li>
        <li class="mm-item">
          <a class="mm-link" href="#Characters">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-people"></use>
            </svg>
            Characters
          </a>
        </li>
        <li class="mm-item">
          <a class="mm-link" href="#Gallery">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-img"></use>
            </svg>
            Gallery
          </a>
        </li>
        <li class="mm-item">
          <a class="mm-link" href="#FAQ">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-question"></use>
            </svg>
            FAQ
          </a>
        </li>
        <li class="mm-item">
          <a class="mm-link" href="#Download">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-download"></use>
            </svg>
            Download
          </a>
        </li>
        <li class="mm-item">
          <a class="mm-link" href="#Contacts">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-Icon-19"></use>
            </svg>
            Contacts
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
