<section class="modal-cookies" id="js-cookies">
  <div class="container cookies-container">
    <h2 class="cookies-title">Cookies Policy</h2>
    <p class="cookies-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookies-button-container">
      <button class="cookies-button first-button" id="js-acceptCookies">
        ACCEPT COOKIES
      </button>
      <button class="cookies-button second-button" id="js-declineCookies">
        DECLINE COOKIES
      </button>
    </div>
  </div>
</section>
