<div class="js-modal-menu">
  <div class="js-mm-overlay" id="mobileMenu" aria-hidden="true">
    <nav class="mm-panel" role="dialog" aria-label="Mobile menu">
      <button class="js-mm-close" id="mmClose" aria-label="Close menu">
        <svg width="18" height="18" aria-hidden="true">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <ul class="mm-list">
        <li class="mm-item">
          <a class="js-mm-link" href="#description">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-file"></use>
            </svg>
            Game Description
          </a>
        </li>
        <li class="mm-item">
          <a class="js-mm-link mm-link-feaut" href="#features">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-stars"></use>
            </svg>
            Key Features
          </a>
        </li>
        <li class="mm-item">
          <a class="js-mm-link" href="#characters">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-people"></use>
            </svg>
            Characters
          </a>
        </li>
        <li class="mm-item">
          <a class="js-mm-link" href="#gallery">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-img"></use>
            </svg>
            Gallery
          </a>
        </li>
        <li class="mm-item">
          <a class="js-mm-link" href="#faq">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-question"></use>
            </svg>
            FAQ
          </a>
        </li>
        <li class="mm-item">
          <a class="js-mm-link" href="#download">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-download"></use>
            </svg>
            Download
          </a>
        </li>
        <li class="mm-item">
          <a class="js-mm-link" href="#contacts">
            <svg class="mm-ico" width="24" height="24">
              <use href="./img/sprite.svg#icon-Icon-19"></use>
            </svg>
            Contacts
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>