*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400; /* базово Regular */
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 84px;

  font-family: 'Open Sans', sans-serif; /* Regular 400 */
  font-weight: 400;
  font-style: normal;
  background: image-set(
      url('../img/backgraund/Background-mob.webp') 1x,
      url('../img//backgraund/Background-cmob@2x.webp') 2x
    )
    no-repeat center top;
  background-size: cover;
}

/* Заголовки */
h1,
h2,
h3 {
  font-family: 'Coiny', cursive; /* Coiny Regular */
  font-weight: 400;
}

/* Підписи, цитати, слогани */
.download-text,
em,
i {
  font-family: 'Open Sans', sans-serif;
  font-style: italic; /* Open Sans Italic */
  font-weight: 400;
}

/* Напівжирний текст */
strong,
b {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; /* SemiBold */
}

@media only screen and (min-width: 1200px) {
  body {
    background: image-set(
        url('./img/backgraund/background-desktop.webp') 1x,
        url('./img/backgraund/background-desktop@2x.webp') 2x
      )
      no-repeat center top;
    background-size: cover;
  }
}
